* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #000000;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
    }

    .number, .additional {
        aspect-ratio: 1;
    }

    .divider {
        aspect-ratio: 0.33/1;
    }

    .number, .divider, .additional {
        height: 20vmin;
    }

    .additional {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        #second {
            height: 70%;
        }

        #milisecond {
            height: 30%;
        }
    }
}