html, body {
    margin: 0;
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #000000;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 50vmin;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

p {
    margin: 0;
    font-size: 100%;
}

#hour, #minute, .additional {
    aspect-ratio: 1;
    height: 100%;
}

.additional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #second, #milisecond {
        aspect-ratio: 1;
    }

    #second {
        height: calc(100%/3*2);
    }

    #milisecond {
        height: calc(100%/3);
    }
}